{{ $noCopyright := .Page.Params.noCopyright | default false }}

{{ if not $noCopyright }}
<span style="display:block; margin-top: 30px; color: red;">
永久链接 <a href="{{ .Permalink }}">{{ .Permalink }}</a>, 来自 <a href="{{ .Site.BaseURL }}">隔叶黄莺 Yanbin's Blog</a>
<br/>
[版权声明] <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">
    <img decoding="async" style="border-width:0;height:20px; margin-top: 12px" src="/images/by-nc-sa.png" />
</a>
本文采用 <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">
    署名-非商业性使用-相同方式共享 4.0 国际 (CC BY-NC-SA 4.0)</a> 进行许可。
</span>
{{ end }}