{{ $pageID := .RelPermalink | md5 }}
{{ $wpPostId := .Page.Params.wpPostId}}
{{ $wpPostIdStr := string $wpPostId }}

{{ $pageViews := .Site.Data.wpPageViews.page_views }}
{{ $wpPostView := index $pageViews $wpPostIdStr | default 0 }}

<span class="meta-item page-view">
     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-activity">
          <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
          <circle cx="12" cy="12" r="3"></circle>
     </svg>
     &nbsp;
     <span id="{{ $pageID }}" title="Views" style="margin-top: 8px;">---</span>
     &nbsp;
</span>
<script>
     document.addEventListener('DOMContentLoaded', function() {
         // const pageViewSpan = document.querySelectorAll("article.post_content span.page-view")
         // if (pageViewSpan.length === 1) {
              const r = new XMLHttpRequest();
              r.addEventListener('load', function() {
                   {{/* format
                        {
                           "count": "0",
                           "count_unique": "0"
                         }
                   */}}
                   const totalPageViews = parseInt(JSON.parse(this.responseText).count_unique) + {{ $wpPostView }}
                   document.getElementById('{{ $pageID }}').innerText = totalPageViews
              })

          r.open('GET', "https://{{ .Site.Params.goatcounter }}.goatcounter.com/counter/"
                  + {{ .RelPermalink }}.replace(/^\/|\/$/g, '') + '.json?_=' + Date.now())
          r.send()
         // }
     });
</script>
