{{/* for bundle use */}}

{{ $originalSrc := .Get "src" }}
{{ $width := .Get "width" | default "" }}
{{ $url := .Page.Params.url }}

{{ $cleanedSrc := $originalSrc | replaceRE "-\\d+x\\d+(\\.\\w+)$" "$1" }}

{{ if ne $originalSrc $cleanedSrc }}
<a href="/post{{ $url }}{{ $cleanedSrc }}" target="_blank" rel="noreferrer">
{{ end }}
<img class="aligncenter"
     src="/post{{ $url }}{{ $originalSrc }}"
     {{ if $width }}width="{{ $width }}"{{ end }}/>
{{ if ne $originalSrc $cleanedSrc }}
</a>
{{ end }}