{{/* for bundle use */}}

{{ $originalSrc := .Get "src" }}
{{ $width := .Get "width" | default "" }}
{{ $class := .Get "class" | default "aligncenter" }}
{{ $url := .Page.Params.url }}
{{ $section := .Page.Section }}

{{ $cleanedSrc := $originalSrc | replaceRE "-\\d+x\\d+(\\.\\w+)$" "$1" }}

{{ if ne $originalSrc $cleanedSrc }}
<a href="/{{ $section }}{{ $url }}{{ $cleanedSrc }}" target="_blank" rel="noreferrer">
{{ end }}
<img class="{{ $class }}"
     src="/{{ $section }}{{ $url }}{{ $originalSrc }}"
     {{ if $width }}width="{{ $width }}"{{ end }}
/>
{{ if ne $originalSrc $cleanedSrc }}
</a>
{{ end }}