{{/*
    for bundle use
    Cannot mix named and positional parameters
*/}}

{{ $originalSrc := or (.Get "src") (.Get 0) }}
{{ $width := or (.Get "width") (.Get 1) | default "" }}
{{ $class := or (.Get "class") (.Get 2) | default "aligncenter" }}
{{ $url := .Page.Params.url }}
{{ $section := .Page.Section }}
{{ $filename := .Page.File.BaseFileName }}

{{ if $width }}
  {{ if not (strings.HasSuffix $width "px") }}
    {{ $width = printf "%vpx" $width }}
  {{ end }}
{{ end }}

{{ $baseFolder := .Page.Path }}
{{ if strings.HasSuffix $baseFolder "/page" }}
    {{ $baseFolder = strings.TrimSuffix "/page" $baseFolder }}
{{ else }}
    {{ $baseFolder = $url }}
{{ end }}

{{ $cleanedSrc := $originalSrc | replaceRE "-\\d+x\\d+(\\.\\w+)$" "$1" }}

{{ $baseFolder = $baseFolder | replaceRE "/$" "" }}

{{ $image_link := printf "%s/%s" $baseFolder $cleanedSrc }}
{{ $image_src := printf "%s/%s" $baseFolder $originalSrc }}

{{ if ne $originalSrc $cleanedSrc }}
<a href="{{ $image_link }}" target="_blank" rel="noreferrer">
{{ end }}
<img class="{{ $class }} post-image"
     src="{{ $image_src }}"
     {{ if $width }}width="{{ $width }}"{{ end }}
/>
{{ if ne $originalSrc $cleanedSrc }}
</a>
{{ end }}