{{ $tabs := split .Inner "---tab" }}
<div class="sc-tabs">
    <div class="sc-tab-nav">
        {{ range $i, $tab := $tabs }}
        {{ if trim $tab "\n\t " }}
        {{ $lines := split (trim $tab "\n\t ") "\n" }}
        {{ $title := trim (index $lines 0) " \t" }}
        {{ if $title }}
        <button class="sc-tab-btn {{ if eq $i 1 }}active{{ end }}"
                onclick="scSwitchTab(this, 'sc-tab-group-{{ $i }}')">
            {{ $title }}
        </button>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>

    <div class="sc-tab-content">
        {{ range $i, $tab := $tabs }}
        {{ if trim $tab "\n\t " }}
        {{ $lines := split (trim $tab "\n\t ") "\n" }}
        {{ $title := trim (index $lines 0) " \t" }}
        {{ if $title }}
        {{ $rest := slice }}
        {{ range $j, $line := $lines }}
        {{ if gt $j 0 }}
        {{ $rest = $rest | append $line }}
        {{ end }}
        {{ end }}
        <div id="sc-tab-group-{{ $i }}"
             class="sc-tab-pane {{ if eq $i 1 }}active{{ end }}">
            {{ delimit $rest "\n" | markdownify }}
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</div>